.footer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  color: white;
  background: black;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

  p {
    font-size: .85rem;
  }

  .logo {
    height: 1em;
    margin-left: 0.5rem;
    filter: invert(1);
  }
}